* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4em;
}
.containter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    p {
        text-align: center;
        display: inline-block;
        line-height: 2em;
        font-size: 4em;
        font-weight: 500;
        margin: 0 auto;
        color: hsl(190, 100%, 50%);
        text-shadow: .1em .1em .1em rgb(175, 175, 175, .5);

        &::selection {
            background:orange;
            color: #fff;
        }
    }


    > div {
        --col: hsl(203, 100%, 50%);
        --col-a: hsla(195, 100%, 50%, .8);
        padding: 4em;
        margin: 4em 0;
        border: .1em solid hsla(203, 100%, 50%, .8);
        border-radius: 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        -ms-flex-direction: column;
        flex-direction: column;

        p {
            font-size: 3em;
            font-weight: bold;
            color: var(--col);
            padding-bottom: .5em;
        }

        a {
            text-decoration: none;
            color: var(--col-a);
            padding: 1.5em 0;
            transition: color .5s;
            &:hover {
                color: var(--col);
            }

            span {
                font-size: 1.8em;
            }
        }
    }
}

