.home {
  .home-background {
    // background-image: linear-gradient(to right, #aaa, #ddd, #999);
    background-image: url('https://picsum.photos/1900/1500');
    background-size: cover;
    min-height: 100vh;

    .home-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80vh;

      .home-info {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        .home-info-author {
          font-size: 10px;
        }
  
        div {
          word-spacing: 2px;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin: 20px;
          font-size: 30px;
          font-weight: bolder;
          color: #fff;
        }
      }
    }
  }

  .home-content {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .ant-card {
      margin: 8rem;
      width: 90rem;
      height: 30rem;
      display: grid;
      grid-template-columns: 25% 75%;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
      }
      
      &:hover {
        &::before {
          border: 2px solid #ddd;
          animation: beforeLines .5s ease-in forwards;
          -webkit-animation: beforeLines .5s ease-in forwards;
        }
        &::after {
          border: 2px solid #ddd;
          animation: afterLines .8s ease-in forwards;
          -webkit-animation: afterLines .8s ease-in forwards;
        }
        &:first-child {
          &::before {
            border: none;
            animation: none;
          }
        }
        &:last-child {
          &::after {
            border: none;
            animation: none;
          }
        }
      }

      
      .ant-card-cover {
        padding-left: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30rem;
      }
      .ant-card-body {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 1.65rem;
      }
      .ant-card-loading-content {
        width: inherit;
      }
    }
  }

}

@keyframes beforeLines {
  from {
    top: 0px;
    height: 0px;
  }

  to {
    top: -16rem;
    height: 16rem;
  }
}

@keyframes afterLines {
  from {
    bottom: 0px;
    height: 0px;
  }

  to {
    bottom: -16rem;
    height: 16rem;
  }
}
