.home {
  height: 2000px;
  .home-background {
    // background-image: linear-gradient(to right, #aaa, #ddd, #999);
    background-image: url('https://picsum.photos/1900/1500');
    background-size: cover;
    min-height: 100vh;

    .home-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80vh;

      .home-info {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        .home-info-author {
          font-size: 10px;
        }
  
        div {
          word-spacing: 2px;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin: 20px;
          font-size: 30px;
          font-weight: bolder;
          color: #fff;
        }
      }
    }
  }

  .home-content {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;

    .ant-card {
      margin: 20px;
      width: 60rem;
      height: 20rem;
      display: grid;
      grid-template-columns: 25% 75%;
      
      .ant-card-cover {
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
      }
      .ant-card-body {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px;
      }
      .ant-card-loading-content {
        width: inherit;
      }
    }
  }

}
